<div class="login-component">
  <div class="login-in">
    <div class="login-form">
      <form [formGroup]="loginForm" (submit)="onSubmit($event)">
          <div class="form-item">
             <div class="form-item-title">Username</div>
              <div class="form-item-control">
                <input type="text" value="" placeholder="Enter username" id="username" name="username" formControlName="username"  />
              </div>
              <div *ngIf="hasError('username')" class="form-item-error">  
                  <span *ngIf="isRequired('username')">  
                      Username is required  
                   </span>  
              </div> 
          </div>
          <div class="form-item">
              <div class="form-item-title">Password</div>
              <div class="form-item-control">
                <input type="password" value="" placeholder="Enter password" id="password" name="password" formControlName="password" />
              </div>
              <div *ngIf="hasError('password')" class="form-item-error">  
                  <span *ngIf="isRequired('password')">  
                      Password is required  
                   </span>  
              </div> 
          </div>
          <div class="form-item">
            <div class="form-item-control">
              <input type="submit" value="Login" [disabled]="isSubmitBtnDisabled"/>
            </div>
          </div>
          <div class="server-message">{{serverMessage}}</div>
      </form>
    </div>
  </div>
</div>